#LifeSurrounding {
    width: 100%;
    height: 1430px;
    .note {
        width: 1240px;
        height: 110px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 28px;
    }
    .ad {
        width: 100%;
        height: 450px;
        background: rgb(35, 204, 255);
    }
    .list {
        width: 1240px;
        height: 790px;
        background: rgb(221, 92, 53);
        margin: 0 auto;
    }
}