#phone {
    width: 100%;
    height: 1950px;
    background: f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    .notice {
        width: 1240px;
        height: 104px;
        background: pink;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 28px;
    }
    .ad_pic {
        width: 100%;
        height: 450px;
        background: skyblue;
    }
    .mainSale {
        width: 1240px;
        height: 620px;
        background: red;
    }
    .series {
        width: 1240px;
        height: 780px;
        background: purple;
    }
}