#bg-box {
    width: 100%;
    height: 750px;
    background: rgb(243, 252, 255);
    .bg-box-center {
        width: 1240px;
        height: 750px;
        margin: 0 auto;
        position: relative;
        img {
            position: absolute;
            width: 1240px;
            height: 750px;
            opacity: 0.6;
        }
        form {
            width: 368px;
            height: 475px;
            position: absolute;
            top: 17%;
            right: 85px;
            background-color: #FFF;
            padding: 35px 35px 10px;
            border-radius: 2px;
            box-shadow: 0 6px 12px 0 rgba(138, 153, 150, 0.15);
            padding: 35px 35px 10px 35px;
            box-sizing: border-box;
            p {
                color: #387aff;
                font-size: 14px;
            }
        }
    }
}